{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Les Célibataires {% endblock %}

{% block body %}
<h1 class="femme-celi">DISCUTER AVEC DES HOMMES CELIBATAIRES</h1> 
<div class="test">   
{% for user in users %}
{% if user.gender == 'un homme' %}
    <div class="céliba">
        <h2 class="nom">{{user.username}}</h2>
        <a href="{{ path('profile_view', {username: user.username}) }}">
        <img class= "profile-man" src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt="your profile picture">
        </a>
     </div> 
{% endif %}       
{% endfor %} 
</div> 
{% endblock %}
