{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Modify Password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}
        </div>  
    {% endfor %}
    <div class="mot-passe">
    <h1>Modifier le Mot de passe</h1>
    </div>
    <div class="form-mot">
    {{ form_start(PasswordModifyForm) }}
        {{ form_row(PasswordModifyForm.newPassword.first) }}
        {{ form_row(PasswordModifyForm.newPassword.second) }}

        <button class= type="submit" class="btn-primary">Confirm
    {{ form_end(PasswordModifyForm) }}
        </button> 
    </div>   
{% endblock %}