{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="rêve">RÊVE D'AMOUR</h1>
    <div class="bienvenue">BIENVENUE SUR LE SITE DE RENCONTRE QUI VA CHANGER VOTRE VIE</div>    
    

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    
</div>
{% endblock %}
