{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="rêve">RÊVE D'AMOUR</h1>
    {% if app.user %}
    <div class="bienvenue">BIENVENUE SUR LE SITE DE RENCONTRE QUI VA CHANGER VOTRE VIE
    </div>
    {% else %}
    <h2 class="insc">Inscrivez-vous gratuitement !</h2>
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
    <div class="col-md-4">
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.interested_gender) }}
        {{ form_row(registrationForm.interested_in) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}
        {{ form_row(registrationForm.description) }}
        {{ form_row(registrationForm.pictureFile) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    {% endif %}
</div>
{% endblock %}
