{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>
    <div class="mail">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
    </div>   
        <div class="reinitiation">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>
        <div class="button">
        <button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
        </div>   
{% endblock %}