{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Blocked {% endblock %}

{% block body %}

<div class="test2"> 
    <h1 class="blocked">LES PERSONNES BLOQUEES</h1>  
    {% for user in users %}
    
    <div class="céliba">
        <h2 class="nom">{{user.username}}</h2>
        <a href="{{ path('profile_view', {username: user.username}) }}">
        <img class= "profile-women" src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt="your profile picture">
        </a>
       
     </div> 
     
    {% endfor %}
</div> 
{% endblock %}
