{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Ecrire un message {% endblock %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div>
    {{form_start(form)}}
    <div class="mb-3">
        {{form_row(form.content)}}
    </div>
    {{form_row(form.submit)}}
    {{form_end(form)}}

</div>
{% endblock %}