{% extends 'base.html.twig' %}

{% block title %}

{{parent()}}
sentindex
{% endblock %}

{% block body %}
<h1 class="text-center">Les messages envoyés</h1>
<div class="caca">
{% for messagerie in messageries %}
{% if messagerie.author == app.user.username %}
<div class="card article">

    {{messagerie.content}}
  


            <em>
                écrit le {{messagerie.createdAT | date('Y/m/d h:i:s')}} 
             à {{messagerie.receiver}}
            </em>
   
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}