{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Envoyer un message {% endblock %}


{% form_theme updateForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div>
    {{form_start(updateForm)}}
    <div class="mb-3">
        {{form_row(updateForm.content)}}
    </div>
    {{form_row(updateForm.submit)}}
    {{form_end(updateForm)}}

</div>
{% endblock %}