{% extends 'base.html.twig' %}

{% block title %}

{{parent()}}
View messagerie
{% endblock %}

{% block body %}
<h1 class="text-center">Messagerie</h1>
<div class="card messagerie">
    <div class="card-boby">
        <div class="card-title">
    
        <h2>
            {{messagerie.content}}
            <div class="col-6">
                
        </h2>
        </div>
            </div>
        <h3 class="card-subtitle">
            <em>
                écrit le {{messagerie.createdAT | date('Y/m/d h:i:s')}}
            </em>
        </h3>
    </div>       

           
</div>


{% endblock %}